* {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

.container {
    padding: 80px;
}

.title {
    text-align: center;
    color: #061e37;
    font-weight: 600;
    font-size: 45px;
}

.subtitle {
    text-align: center;
    color: #b0bec5;
    font-size: 25px;
    font-weight: 600;
    line-height: 20px;
}

.descr {
    color: #b0bec5;
    line-height: 16px;
    text-align: center;
    margin: 24px auto 0 auto;
    width: 560px;
}

/*
Promo section
*/

.promo {
    min-height: 750px;
    background: url("../img/bg/promo_bg.png") center center/cover no-repeat;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo_wrap {
    display: flex;
    align-items: center;
}

.logo_img {
    margin-right: 10px;
}

.logo_text {
    color: #ffffff;
    line-height: 15px;
    text-transform: uppercase;
}

.logo_text > span {
    font-weight: 700;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_item {
    margin: 0 25px;
    opacity: 0.85;
    transition: opacity 0.3s ease;
}

.nav_item:hover {
    opacity: 1;
}

.nav_item > a {
    color: #ffffff;
    font-weight: 600;
}

.promo_sign button {
    padding: 6px 20px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #ffffff;
    font-size: 12px;
    color: #ffffff;
}

.promo_sign button:focus {
    outline: none;
}

.promo_content {
    margin-top: 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo_text {
    width: 45%;
}

.promo_title {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-transform: uppercase;
}

.promo_descr {
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    opacity: 0.8;
}

.promo_btns {
    margin-top: 38px;
}

.promo_btn {
    width: 160px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    transition: all 0.3s ease;
}

.promo_btn_black {
    background-color: #061e37;
    color: #ffffff;
    margin-right: 30px;
}

.promo_btn_black:hover {
    background-color: #ffffff;
    color: #061e37;
}

.promo_btn_white {
    background-color: #ffffff;
    color: #061e37;
}

.promo_btn_white:hover {
    background-color: #061e37;
    color: #ffffff;
}

.promo_video {
    position: relative;
}

.promo_video > video {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #061e37;
}

.promo_play {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 75px);
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #061e37;
    cursor: pointer;
}

.promo_play > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #061e37;
    margin: 0 auto 22px auto;
}

.promo_play > div > i {
    color: white;
}

/*
Section useful
*/

.useful {
    min-height: 800px;
    padding: 100px 0;
}

.useful_content {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
}

.useful_item {
    width: 27%;
}

.useful_icon {
    text-align: center;
    margin-bottom: 45px;
}

.useful_icon > i {
    font-size: 80px;
}

.fa-calendar-alt {
    color: #b388ff;
}

.fa-user-alt {
    color: #80d8ff;
}

.fa-fire {
    color: #ea80fc;
}

.useful_title {
    text-align: center;
    color: #061e37;
    font-weight: 600;
    font-size: 20px;
}

.useful_descr {
    text-align: center;
    color: #78909c;
    line-height: 20px;
}

.useful_btn {
    display: block;
    margin: 80px auto 0 auto;
    height: 55px;
    width: 150px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1de9b6;
    border: none;
    transition: all 0.3s ease;

    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.useful_btn:hover {
    background-color: #1db48d;
}

/*
Section counts
 */

.progress {
    display: flex;
}

.progress_item {
    height: 150px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_item_business {
    background-color: #80d8ff;
}

.progress_item_business i {
    color: #80d8ff;
}

.progress_item_downloads {
    background-color: #82b1ff;
}

.progress_item_downloads i {
    color: #82b1ff;
}

.progress_item_installs {
    background-color: #b388ff;
}

.progress_item_installs i {
    color: #b388ff;
}

.progress_item_users {
    background-color: #ea80fc;
}

.progress_item_users i {
    color: #ea80fc;
}

.progress_wrap {
    display: flex;
    align-items: center;
}

.progress_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 23px;
}

.progress_icon > i {
    font-size: 30px;
}

.progress_text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

/*
section service
 */

.service {
    padding: 100px 0;
}

.service_content {
    margin-top: 50px;
}

/*
tabs
 */

.tabs_item {
    width: 800px;
    height: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
    padding: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tabs_item_active {
    height: 240px;
}

.tabs_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 15px 0;
}

.tabs_wrap {
    display: flex;
    align-items: center;
}

.tabs_icon i {
    color: #061e37;
    font-size: 25px;
}

.tabs_title {
    color: #061e37;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
}

.tabs_down i {
    color: #061e37;
    font-size: 25px;
}

.tabs_content {
    display: flex;
}

.tabs_img {
    width: 35%;
    height: 155px;
    background: url("../img/tabs/tab_img.png") center center/cover no-repeat;
    border-radius: 5px;
    margin-right: 25px;
}

.tabs_text {
    width: 63%;
    color: #061e37;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.45px;
}